<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Product Id="*" Name="latex_curriculum_vitae_Setup" Language="1033" Version="1.0.0.0" Manufacturer="Sascha Manns" UpgradeCode="136cfc6c-833d-4000-9996-a1699e677141">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of latex_curriculum_vitae is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="latex_curriculum_vitae_Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="latex_curriculum_vitae_Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
				<File Source="$(var.latex_curriculum_vitae.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
